{% extends "layout.html" %}

{% block title %}Laboratories{% endblock %}

{% block content %}

<div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:20px;">

    <h1>Laboratories</h1>

    <a href="{{ url_for('add_lab') }}" 
    style="background:#2563eb;color:white;padding:12px 20px;border-radius:8px;text-decoration:none;">
        <i class="fa-solid fa-plus"></i> Add Laboratory
    </a>

</div>

{% if laboratories %}

<table>

    <thead>

        <tr>
            <th>ID</th>
            <th>Lab</th>
            <th>Floor</th>
            <th>Capacity</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>

    </thead>

    <tbody>

    {% for lab in laboratories %}

    <tr>

        <td>{{ lab.lab_id }}</td>

        <td>Lab {{ lab.lab_number }}</td>

        <td>{{ lab.floor }}</td>

        <td>{{ lab.capacity }}</td>

        <td>

            {% if lab.status == "Active" %}

                <span class="status active">
                    Active
                </span>

            {% elif lab.status == "Under Maintenance" %}

                <span class="status maintenance">
                    Under Maintenance
                </span>

            {% else %}

                <span class="status closed">
                    Closed
                </span>

            {% endif %}

        </td>

        <td>{{ lab.created_at }}</td>

        <td>

            <a href="{{ url_for('edit_lab', lab_id=lab.lab_id) }}"
               class="btn-primary">

                <i class="fa-solid fa-pen"></i>

            </a>

            <a href="{{ url_for('delete_lab', lab_id=lab.lab_id) }}"
               class="btn-danger"
               onclick="return confirm('Delete this laboratory?')">

                <i class="fa-solid fa-trash"></i>

            </a>

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% else %}

<div class="dashboard-message">

    <h2>No Laboratories Found</h2>

    <p>
        Click the <strong>Add Laboratory</strong> button to create your first laboratory.
    </p>

</div>

{% endif %}

{% endblock %}
